.re-valid-err{
    box-shadow: 2px 0px 0px 0px #f70000;
}
.weui-input{
    border-radius : 0;
  }
.weui-cells{
    /* font-size: 12px; */
}
.weui-empty{
    color:grey;
}
.img-qrcode{
    width: 10em;
    padding: 8px;
    box-shadow: 0 0 0px 1px #d6d2d2;
    box-sizing: border-box;
}
.weui-dialog__hd{
    padding-bottom: 0;
}
.weui-search-bar__label{
    color: #4CAF50;
}
.weui-icon-search{
    color: #4CAF50;
}
.weui-btn_default{
    color: #4CAF50;
}



.wpis-loading
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.62);
    z-index: 99999;
    text-align: center;
}
.weui-icon_toast.weui-loading
{
    margin-top: 25%;
}
.wpis-loading-hide
{
    display: none;
}